<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
  </head>
  <body>
    <div class="header">
      <table>
        <tr>
          <td class="anch"><a href="#" >Saharanpur Chowk</a></td>
          <td  class="anch"><a href="#">Ballupur</a></td>
        </tr>
        <tr>
          <td  class="anch"><a href="#">Yamuna Colony</a></td>
          <td  class="anch"><a href="#">Kumahar Mandi</a></td>
        </tr>
        <tr>
          <td  class="anch"><a href="#">Pream Nagar</a></td>
          <td  class="anch"><a href="#">ISBT</a></td>
        </tr>
        <tr>
          <td  class="anch"><a href="#">Lakkhi Bagh</a></td>
          <td  class="anch"><a href="#">Karanpur</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>
